* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/*
https://colorhunt.co/palette/257799
4a3933  simil marron
f0a500  simil maiz
e45826  simil naranja
e6d5b8  simil crema calido
*/


/*          HEADER            */

.color{
    height: 50px;
    background: #82FF93;
    background: -webkit-linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    background: -moz-linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    background: linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 4px;
}
.color:hover{
    background: #19FFFF;
    background: -webkit-linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    background: -moz-linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    background: linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header{
    background-color: #4a3933;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
    background-color: #4a3933;
}

.derecha a{
    text-decoration: none;
    display: block;
    color: #e6d5b8;
    padding: 12px;
    border: 2px solid #4a3933;
}

.derecha a:hover{
    border: 2px solid #4a3933;
    background: #e45826;
    color: #e6d5b8;
}

.derecha{
    float: right;
}


/*          MAIN            */

.main{
    width: 100%;

}
.novedades{
    height: 450px;
    display: block;
    background: #4a3933;
    color: #e6d5b8;
    padding: 25px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -140px;
    background-image: url(https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
.novedades h2{
    text-align: center;
    border: 2px solid #4a3933;
    background-color: rgba(230,213,184,0.50);
    color: #4a3933;
    width: 200px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.novedades h2:hover{
    border: 2px solid;
    border-image: conic-gradient( aqua, blue, lightgreen, blue, aqua, lightgreen, aqua) 1;
}

.novedades p{
    text-align: center;
    background-color: rgba(74,57,51,0.51);
    width: 600px;
    margin: 0 auto;
}
.collecion{
    display: inline-block;
    width: 49.7%;
    height: 270px;
    background: #e6d5b8;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url(https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
.collecion h2{
    text-align: center;
    border: 2px solid #4a3933;
    background-color: rgba(230,213,184,0.50);
    width: 200px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.collecion h2:hover{
    border: 2px solid;
    border-image: conic-gradient( aqua, blue, lightgreen, blue, aqua, lightgreen, aqua) 1;
}

.collecion p{
    text-align: center;
    color: #e6d5b8;
    background-color: rgba(74,57,51,0.51);
    width: 400px;
    margin: 0 auto;
}

.calzado{
    display: inline-block;
    width: 49.7%;
    height: 270px;
    background: #e6d5b8;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -40px;
    background-image: url(https://images.pexels.com/photos/292999/pexels-photo-292999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

}

.calzado h2{
    text-align: center;
    border: 2px solid #4a3933;
    background-color: rgba(230,213,184,0.50);
    width: 200px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);

}

.calzado h2:hover{
    border: 2px solid;
    border-image: conic-gradient( aqua, blue, lightgreen, blue, aqua, lightgreen, aqua) 1;
}

.calzado p{
    text-align: center;
    color: #e6d5b8;
    background-color: rgba(74,57,51,0.51);
    width: 400px;
    margin: 0 auto;

}

.proximamente{
    height: 270px;
    display: block;
    background: #e45826;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -40px;
    background-image: url(https://images.pexels.com/photos/1082529/pexels-photo-1082529.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.proximamente h2{
    text-align: center;
    border: 2px solid #4a3933 ;
    background-color: rgba(230,213,184,0.50);
    width: 250px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.proximamente h2:hover{
    border: 2px solid;
    border-image: conic-gradient( aqua, blue, lightgreen, blue, aqua, lightgreen, aqua) 1;

}
.proximamente p{
    text-align: center;
    color: #e6d5b8;
    background-color: rgba(74,57,51,0.51);
    width: 500px;
    margin: 0 auto;
}

.nosotros{
    background: #e6d5b8;
}

.footer{
    width: 100%;
    height: 140px;
    background-color: #4a3933;
    color: #e6d5b8;
}

.colorDos{
    background: #82FF93;
    background: -webkit-linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    background: -moz-linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    background: linear-gradient(to right, #82FF93 0%, #19FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    padding: 4px;
}
.colorDos:hover{
    background: #19FFFF;
    background: -webkit-linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    background: -moz-linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    background: linear-gradient(to right, #19FFFF 0%, #82FF93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bloque{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    font-size: 12px;
}


